.alcoholListItem {
  flex: 1;
  height: 40px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 15px;
  background: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
}

.alcoholColumn {
  flex: 1;
}